
.dflex {
    display: flex;
    justify-content: space-between;
}
.form-area {
    width: 75%;
}
.underline {
    border-bottom: 1px solid black;
    margin-bottom: 20px;
    padding-bottom: 20px;
    width: 50%;
    margin: 20px 0PX;
}
.cart {
    width: 60%;
}
.check-out-page {
    display: flex;
    padding: 50px 170px;
}
form.delivery-form {
    margin: 0px;
    width: 70%;
}
.cart-top h5 span {
    font-weight: 500;
    margin-right: 5px;
}
.cart-top h5 {
    margin-bottom: 10px;
}
.cart-top p {
    font-size: 14px;
}

.price-count {
    font-weight: 500;
    line-height: 26px;
    /* margin-bottom: 8px; */
}
.price-count button {
    width: 100%;
    padding: 10px;
    border: sienna;
    color: white;
    background: #bfb2cc;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
}
form.ship-form.delivery-form input {
    height: 35px;
    margin: 5px 0px;
    padding: 5px;
    background: #e0d7d7;
    border: none;
    border-radius: 5px;
    width: 96%;
}
form.ship-form.delivery-form button.submit  {
    width: 98%;
    padding: 13px;
    margin-top: 10PX;
    margin-left: 2px;
    background: red;
    color: #FFF;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    height: 40px;
}
form.ship-form.delivery-form a.submit {
    display: block;
    margin-top: 10PX;
    background: red;
    color: #FFF;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    height: 40px;
    text-decoration: none;
    text-align: center;
    line-height: 35px;
}