nav {
    text-align: center;
    margin: 50px auto;
}
.checkout-btn button.active-btn {
    background: red;
}
nav button {
    color: black;
    font-weight: 700;
    padding: 6px 30px;
    border: none;
    background: none;
    cursor: pointer;
}
nav button:focus {
    outline: none;
}
.foods-area {
    padding: 5px 70px;
}
.active {
    border-bottom: 2px solid red;
    color: red;
}
.checkout-btn {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    clear: both;
}
.checkout-btn button {
    padding: 10px 40px;
    font-size: 15px;
    color: white;
    border: none;
    border-radius: 5px;
    background: pink;
    cursor: pointer;
}
.disable-btn {
    cursor: no-drop;
}