.header-menu {
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    height: 90px;
    align-items: center;
}
.logo img {
    width: 160px;
}
.header-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.user-name-img {
    display: flex;
}
.user-img {
    width: 40px;
    border-radius: 50%;
    height: 50%;
    margin-top: -8px;
    margin-left: 20px;;

}
